.landing-container {
  text-align: center;
}
.headingT {
    font-weight: 900;
    font-size: 12vw;
    margin-top: 70px;
    animation: fadeInT 4s ease-in-out; 
    @keyframes fadeInT {
      0% { opacity: 0; }
      10% { opacity: 0.1; }
      15% { opacity: 0.15; }
      25% { opacity: 0.25; }
      30% { opacity: 0.3; }
      40% { opacity: 0.4; }
      50% { opacity: 0.5; }
      60% { opacity: 0.6; }
      70% { opacity: 0.7; }
      75% { opacity: 0.75; }
      90% { opacity: 0.9; }
      100% { opacity: 1; }
    }
  }
  
  
  
  .heading {
    font-size: clamp(20px, 2.5vw, 30px);
    display: inline-block;
    span {
      opacity: 0;
     
    }
    @keyframes fadeIn {
       to { opacity: 1; }
    }
    
    @for $i from 1 through 13 {
      span:nth-child(#{$i}) {
        --index: #{$i}; // Set a custom property to store the word index
        animation: fadeIn 0.3s ease-in-out; // Customize the animation duration and timing as needed
        animation-fill-mode: forwards; // Keeps the final opacity after animation ends
        animation-delay: calc(0.3s * (var(--index) + 1)); // Delay each word based on its index
      }
    }
  }
  .get-attention {
    text-align: left;
    width: 70vw;
    margin: 10px auto;
  }
  .works-container {
    width: 60vw;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }





  @media only screen and (max-width: 800px) {
    .get-attention{
      width: 80vw;
    }
  }
  
  