.formQuiz{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    border: 2px solid rgb(181, 171, 171);
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .input-container {
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .input {
        display: flex;
        flex-direction: column;
        textarea {
            width:30vw;
            max-width: 500px;
            height: 125px;
            border: 1px solid rgb(133, 128, 128);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;            margin: 20px;
            font-size: 1rem;
            padding: 15px;

        }
        
        label {
            font-weight: bold;
            font-size: 20px;
        }
    }
    
    button {
        border-radius: 25%;
        width: 80px;
        height: 50px;
        background: rgb(238, 174, 202);
        background: linear-gradient(30deg, rgba(192, 151, 178, 1) 0%, rgba(143, 162, 199, 1)  100%);
        color: rgb(255, 255, 255);
        font-size: 1.2em;
        font-weight: 600;
        border: none;
        margin-bottom: 20px;

        box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
            inset 0 2px 1px 1px rgba(255, 255, 255, 0),
            1px 1px 15px 2px rgba(154, 137, 164, 0.5);
        &:hover {
            cursor: pointer;

            box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.15),
                inset 0 2px 1px 1px rgba(255, 255, 255, 0),
                1px 1px 15px 2px rgba(154, 137, 164, 0.1);
        }

        &:active {
            background: linear-gradient(
                30deg,
                rgba(210, 178, 212, 1) 0%,
                rgba(177, 183, 223, 1) 100%
            );
            color: rgba(192, 181, 218, 1);

            box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.15),
                1px 1px 15px 2px rgba(154, 137, 164, 0.1);
        }
    }
    
}
@media only screen and (max-width: 800px){
    .formQuiz{
        width: 90%;
        margin-left: 5%;
        .input {
            textarea{
                height: 70px;
                font-size: 0.8rem;
                width: 38vw;
                margin-right: 5px;
                margin-left: 5px;
            }
            label {
                font-size: 0.9rem;
            }
        }
        button {
            border-radius: 10%;
            width: 60px;
            height: 40px;
            background: rgb(238, 174, 202);
            background: linear-gradient(30deg, rgba(192, 151, 178, 1) 0%, rgba(143, 162, 199, 1)  100%);
            color: rgb(255, 255, 255);
            font-size: 0.9rem;
            font-weight: 600;
            border: none;
            margin-bottom: 20px;
    }
    }
}

.image-upload {
    margin: 20px;
    display: flex;
    justify-content: left;
    font-size: 25px;
    input {
        margin-left: 10px;
        border-radius: 10px;
        margin-right: 20px;
    }
   .icon {
    font-size: 30px;
   }
   .image{
        width: 50px;
        height: 50px;
   }
}
