
.Pomodoro{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width:150px;
    font-family: 'Lumanosimo', cursive;
    background: linear-gradient(30deg, rgb(238, 173, 184) 0%, rgb(130, 180, 230) 100%);
    border-radius: 15%;
}

h1 {
    font-weight: 600;
    font-size: 1.35rem;

}
.setTime, .controler, .number{
    display:flex;
    justify-content: space-between;
}
.counter{
    border: 2px solid bisque;
    border-radius: 20%;
    padding: 8px;
h3 {
    font-size: 0.8rem;
    word-spacing: 10px;
}

}

.icon {
    &:hover{
        cursor: pointer;
    }
    &:active{
        color: rgb(237, 218, 72);
    }
}
.break {

    h3, h1 {
        margin-bottom: 0px;
        word-spacing: 10px;
    }
    h1 {
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
.red {
    color: red;
    h1 {
        box-shadow: rgba(196, 25, 25, 0.35) 0px 5px 15px;
    }
}
.c {
    margin: 10px;
    size: 8px;
}
