
.Pomodoro{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width:200px;
    font-family: 'Lumanosimo', cursive;
    background: linear-gradient(30deg, rgb(238, 173, 184) 0%, rgb(130, 180, 230) 100%);
    border-radius: 5%;
}
.break {
    width: 90%;
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h1 {
        font-size: clamp(18px, 2.5vw, 25px);
        word-spacing: 10px;
        padding: 10px;
    }
}
.red {
    color: red;
    box-shadow: rgba(196, 25, 25, 0.35) 0px 5px 15px;
}
.controler {
    display: flex;
    .icon {
        margin: 0;
        font-size: clamp(18px, 2vw, 23px);
        margin: 5px;
        &:hover{
            cursor: pointer;
        }
        &:active{
            color: rgb(237, 218, 72);
        }
    }
}


.setTime {
    display: flex;
    font-size: clamp(12px, 1.7vw, 14px);
    width: 98%;

    .counter {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;
        margin: 5px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .number {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon {
            margin: 0;
            font-size: clamp(15px, 2vw, 20px);
            margin: 2px;
            &:hover{
                cursor: pointer;
            }
            &:active{
                color: rgb(237, 218, 72);
            }
        }
    }
}


